.bordeGrueso {
    border: 3px solid black;
}

.bordeFino {
    border: 1px solid black;
}

h1 {
    color: white;
}

.colorForndoBlanco {
    background-color: white;
}

.paddingSuperior {
    padding-top: 80px !important;
}

.altoMinimo{
    height: 500px;
}

.altoMinimoElemento{
    height: 60px;
}

.altoMinimoElementoInterno{
    height: 100px;
}

.altoMinimoElementoFinal{
    
    height: 20px;
}

.paddingInterior {
    padding-top:  10px;
    padding-bottom:  10px;
}

.margenInterno {
    margin-top:  10px;
    margin-bottom:  10px;
}

.colorVerde {
    background-color : green;
}

.colorAzul {
    background-color : blue;
}

.wrapper {
  display: block !important;
  align-items: center !important;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
  background: rgba(4, 40, 68, 0.85);
}